.test {
  height: 80px;
  width: 1000px;
  background-color: black;
  margin-top: 50px;
  background-image: linear-gradient(to right, red, yellow);
  /* border-bottom: 70px solid yellow;
  border-left: 1000px solid green; */
}
.test1 {
  height: 80px;
  width: 1000px;
  position: absolute;
  top: 50px;
  background-color: transparent;
  border-top: 50px solid white;
  border-right: 1000px solid transparent;
  /* background-image: linear-gradient(to right, red, yellow);
  border-top: 50px solid rgba(100, 100, 100, 0);
  border-right: 500px solid red;
  background-size: contain; */
}
